<%= form_for(@team, :html => {:multipart => true}) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :tournament %><br />
    <%= f.collection_select(:tournament_id, Tournament.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :team_name %><br />
    <%= f.text_field :teamName %>
  </div>
  <div class="field">
    <%= f.label 'Wattball ID' %><br />
    <%= f.text_field :org_tag %>
  </div>
  <div class="field">
    <%= f.label :badge %><br />
    <%= f.file_field :badge %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>

  <% if @team.user.nil? %>
    <div class="field">
    <fieldset>
      <legend>Manager</legend>
      <% @team.build_user unless @team.user %>
        <%= f.fields_for :user do |user_details_form| %>
          <% p "Team User: #{user_details_form}" %>
          <%= render :partial => 'users/registrations/user_info', :locals => { :f => user_details_form } %>
        <% end %>
      </div>
    </fieldset>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
