<h1>WattBall Teams</h1>
<div class="well">
  <table class="table table-hover table-striped table-bordered table-clickable table-center">
    <thead>
      <tr class="info">
        <th>Position</th>
        <th>Name</th>
        <th>Badge</th>
      </tr>
    </thead>
    <tbody>
  <% count = 0 %>
  <% @teams.each do |team| %>
      <tr onclick="document.location = '<%= teams_path %>/<%= team.id %>';">
        <td><%= count += 1 %></td>
        <td><%= team.teamName %></td>
        <td><%= image_tag team.badge.url(:thumb) %></td>
      </tr>
  <% end %>
    </body>
  </table>
</div>
<%= link_to 'New Team', new_team_path %>
