<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= "#{@team.User.first_name} #{@team.User.last_name}"  %>
</p>

<p>
  <b>Teamname:</b>
  <%= @team.teamName %>
</p>

<p>
  <b>Badge:</b>
  <%= image_tag @team.badge.url(:thumb) %>
</p>

<p>
  <b>Players</b>
  <ul class="playerList">
    <% WattballPlayer.where(:team_id => @team.id).each do |player| %>
        <li>
          <%= link_to "#{player.user.first_name} #{player.user.last_name}", athlete_path(player) %>
        </li>
    <% end %>
  </ul>
</p>

    


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
