<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @team.user.name %>
</p>

<p>
  <b>Teamname:</b>
  <%= @team.teamName %>
</p>

<p>
  <b>Badge:</b>
  <%= image_tag @team.badge.url(:thumb) %>
</p>

<p>
  <b>Players</b>
  <ul class="playerList">
    <% # FIXME: Get this out of here %>
    <% @team.wattball_players.each do |player| %>
        <li>
          <%= link_to player.user.name, player %>
        </li>
    <% end %>
  </ul>
</p>

    
<p>
  <b>Matches:</b>
  <% list = "" %>
  <% @team.wattball_matches.each do |match|
    list += content_tag :li, link_to("#{match.team1.teamName} vs #{match.team2.teamName}", match)
  end %>
  <%= content_tag :ul, list.html_safe %>
  </ul>
</p>

<p>
  <% if @team.tournament %>
    Registered for
    <%= link_to @team.tournament.name, @team.tournament %>.
  <% else %>
    Not Registered for a Tournament (Can't happen).
  <% end %>

</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
