<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= join_user_name(@team.User) %>
</p>

<p>
  <b>Teamname:</b>
  <%= @team.teamName %>
</p>

<p>
  <b>Badge:</b>
  <%= image_tag @team.badge.url(:thumb) %>
</p>

<p>
  <b>Players</b>
  <ul class="playerList">
    <% WattballPlayer.where(:team_id => @team.id).each do |player| %>
        <li>
          <%= link_to join_user_name(player.user), athlete_path(player) %>
        </li>
    <% end %>
  </ul>
</p>

    


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
