<h1>
  <%= @team.teamName %>
</h1>

<p>
  <b>Badge:</b>
  <%= image_tag @team.badge.url(:thumb) %>
</p>

<p>
  <b>Players</b>
  <ul class="playerList">
    <% # FIXME: Get this out of here %>
    <% @team.wattball_players.each do |player| %>
        <li>
          <%= link_to player.user.name, player %>
        </li>
    <% end %>
  </ul>
</p>
    
<p>
  <b>Matches:</b>
  <% list = "" %>
  <% @team.wattball_matches.each do |match|
    list += content_tag :li, link_to("#{match.team1.teamName} vs #{match.team2.teamName}", match)
  end %>
  <%= content_tag :ul, list.html_safe %>
  </ul>
</p>

<p>
  <b>Manager:</b>
  <%= @team.user.name %>
</p>

<% if current_user && current_user.privileged? %>
  <p>
    <b>Wattball ID:</b>
    <%= @team.org_tag %>
  </p>
<% end %>

<p>
  <% if @team.tournament %>
    Registered for
    <%= link_to @team.tournament.name, @team.tournament %>.
  <% else %>
    Not Registered for a Tournament (Can't happen).
  <% end %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
