<h1>News</h1>
<div class="well">
<table class="table table-hover table-striped table-bordered table-clickable table-center">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Date</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr onclick="document.location = '<%= blogs_path %>/<%= blog.id %>';">
    <td><%= blog.title %></td>
    <td><%= blog.user.name %></td>
    <td><%= blog.created_at.strftime "%d/%m/%y" %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Blog', new_blog_path %>
</div>
