<h1>Listing officials</h1>

<table class="table table-bordered">
  <tr>
    <th>Email</th>
    <th>User</th>
    <th>Phone</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @officials.each do |official| %>
  <tr>
    <td><%= official.user.email %></td>
    <td><%= official.user.first_name + " " + official.user.last_name %></td>
    <td><%= official.phone %></td>
    <td><%= link_to 'Show', official %></td>
    <td><%= link_to 'Edit', edit_official_path(official) %></td>
    <td><%= link_to 'Destroy', official, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Official', new_official_path %>
