<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @official.user.first_name + " " + @official.user.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @official.phone %>
</p>


<%= link_to 'Edit', edit_official_path(@official) %> |
<%= link_to 'Back', officials_path %>
