<p id="notice"><%= notice %></p>

<% # Vars on pages seems odd %>
<% allowed =  current_user and (current_user.privileged? or current_user == @official.user) %>

<h1><%= @official.user.first_name + " " + @official.user.last_name %></h1>


<% if allowed %>
  <p>
    <b>Phone:</b>
    <%= @official.phone %>
  </p>
<% end %>

<h3>Events</h3>
<ul>
<% @official.events.each do |event| 
  if event.wattball_match %>
    <%= content_tag :li, link_to(event.wattball_match.name, event.wattball_match) %>
  <% elsif event.hurdle_match %>
    <%= content_tag :li, link_to(event.hurdle_match.name, event.hurdle_match) %>
  <% end %>
<% end %>
</ul>

<% if allowed %>
  <%= link_to 'Edit', edit_official_path(@official) %> |
<% end %>

<%= link_to 'Back', officials_path %>
