<h1>Listing athletes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Dateofbirth</th>
    <th>Phonenumber</th>
    <th>Address</th>
    <th>Nationality</th>
    <th>Emergencycontact</th>
    <th>Type</th>
    <th>Previoustime</th>
    <th>Organisationid</th>
    <th>Manager</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @athletes.each do |athlete| %>
  <tr>
    <td><%= athlete.user %></td>
    <td><%= athlete.dateOfBirth %></td>
    <td><%= athlete.phoneNumber %></td>
    <td><%= athlete.address %></td>
    <td><%= athlete.nationality %></td>
    <td><%= athlete.emergencyContact %></td>
    <td><%= athlete.type %></td>
    <td><%= athlete.previousTime %></td>
    <td><%= athlete.organisationID %></td>
    <td><%= athlete.manager %></td>
    <td><%= link_to 'Show', athlete %></td>
    <td><%= link_to 'Edit', edit_athlete_path(athlete) %></td>
    <td><%= link_to 'Destroy', athlete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Athlete', new_athlete_path %>
