<h1>New athlete</h1>

<%= form_for(@athlete, :url => { :action => :create_wattball_player }) do |f| %>
  <%= render 'form', :f => f %>

  <div class="field">
    <%= f.label :organisation_tag %><br/ >
    <% # Nested form here %>
    <%= f.text_field :organisationTag %>
  </div>

  <div class="field">
    <% @athlete.build_emergencyContact unless @athlete.emergencyContact %>

    <h4><%= f.label :emergency_contact %></h4>
    <%= f.fields_for :emergencyContact do |contact_form| %>
      <%= render 'emergency_contact_form', :f => contact_form %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :manager %><br/ >

    <% # Get this in a controller 
    %>
    <% managers = Team.all.map { |team| 
      ["#{team.User.first_name} #{team.User.last_name}",
      team.User.id]  
    } %>
    <%= f.select(:manager_id, managers) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', athletes_path %>
