<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= "#{@athlete.user.first_name} #{@athlete.user.last_name}" %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%= @athlete.dateOfBirth %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @athlete.phoneNumber %>
</p>

<p>
  <b>Nationality:</b>
  <%= @athlete.nationality %>
</p>

<% if !@athlete.contact.nil? %>
  <p>
    <b>Emergencycontact:</b>
    <%= @athlete.contact.name %>
  </p>
<% end %>

<% if !@athlete.previousTime.nil? %>
  <p>
    <b>Previoustime:</b>
    <%= @athlete.previousTime %>
  </p>
<% end %>

<% if !@athlete.organisationTag.nil? %>
  <p>
    <b>Organisationid:</b>
    <%= @athlete.organisationTag %>
  </p>
<% end %>

<% if !@athlete.team.nil? %>
  <p>
    <b>Team:</b>
    <%= link_to @athlete.team.teamName, team_path(@athlete.team) %>
  </p>
<% end %>


<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
