<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @athlete.user %>
</p>

<p>
  <b>Dateofbirth:</b>
  <%= @athlete.dateOfBirth %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @athlete.phoneNumber %>
</p>

<p>
  <b>Nationality:</b>
  <%= @athlete.nationality %>
</p>

<p>
  <b>Emergencycontact:</b>
  <%= @athlete.contact.name %>
</p>

<p>
  <b>Previoustime:</b>
  <%= @athlete.previousTime %>
</p>

<p>
  <b>Organisationid:</b>
  <%= @athlete.organisationTag %>
</p>

<p>
  <b>Manager:</b>
  <%= @athlete.team.teamName %>
</p>


<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
