<% if flash[:alert] %>
  <div class="notice"><%= flash[:alert] %></div>
<% end %>

<h1>Listing tournaments</h1>
<div class="well">
  <table class="table table-hover table-striped table-bordered table-clickable table-center">
    <thead>
      <tr class="info">
        <th>Name</th>
        <th>Sport</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
  <% @tournaments.each do |tournament| %>
      <tr onclick="document.location = '<%= tournaments_path %>/<%= tournament.id %>';">
        <td><%= tournament.name %></td>
        <td><%= tournament.sport.name %></td>
        <td>from <%= tournament.startDate.strftime "%d/%m" %> to <%= tournament.endDate.strftime "%d/%m/%Y" %></td>
      </tr>
  <% end %>   
    </body>
  </table>
</div>
<%= link_to 'New Tournament', new_tournament_path %>
