<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tournament.name %>
</p>

<p>
  <b>Startdate:</b>
  <%= @tournament.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @tournament.endDate %>
</p>

<p>
  <b>Sport:</b>
  <%= @tournament.sport.name %>
</p>

<p>
  <b>Max competitors:</b>
  <%= @tournament.max_competitors %>
</p>

<p>
  <b>Adult ticket price:</b>
  <%= @tournament.adult_ticket_price %>
</p>

<p>
  <b>Concession ticket price:</b>
  <%= @tournament.concession_ticket_price %>
</p>

<p>
  <b>Events</b>
  <ul>
    <% Event.where(:tournament_id => @tournament.id).each do |event| %>
        <% match = WattballMatch.find(:first, :conditions => ["event_id = ?", event.id]) %>
        <% if !match.nil? %>
          <%= content_tag :li, wattball_match_name(match)  %>
          <% # Add more type checks here, eg: :hurdle_match %>
        <% end %>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
