  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  <div class="row-fluid home">
    <div class="span4 thumbnail">
      <h2>Results</h2>
      <% list = "" %>
      <% # Only find the results, not all %>
      <% matches = WattballMatch.most_recent(5).where(:events => {:status => 'played'})
        if not matches.empty?
          matches.each do |match|

            scores = match.result
            if scores
              list += "\n\t\t" + content_tag(:div, 
                (content_tag(:div, "#{match.team1.teamName}", :class => 'span5')+"\n\t\t"+
                content_tag(:div, "#{scores[0]} -  #{scores[1]}", :class => 'span2')+
                content_tag(:div, "#{match.team2.teamName}", :class => 'span5 right' )
                ), :class => "row-fluid"
              )
            end
          end 
        else
          list = "No matches have been played, yet."
        end %>
      <%= list.html_safe %>
      <div class="bottom">
        <hr />
        <p><%= link_to("View all Results", wattball_matches_path) %></p>
      </div>
    </div>
    <div class="span4 thumbnail">
      <h2>News Feed</h2>
      <ul>
      <% Blog.order(:created_at).limit(3).each do |blog|
        @blog = blog %>
        <%= content_tag :li, render(:template => 'blogs/show') %>
      <% end %>
    </ul>
    <div class="bottom">
        <hr />
        <%= link_to "More", blogs_path %>
    </div>
    </div>
    <div class="span4 thumbnail">
      <h2>Upcoming Events</h2>
      <div class="home-events">
	      <h3>Next 5 Wattball Matches:</h3>
        <ul>
          <% # Change the period, to 2.weeks with a limit? %>
          <% WattballMatch.most_recent(5).each do |match| %>
            <%= content_tag :li, "#{wattball_match_name(match)}"%>
          <% end %>
        </ul>

	  </div>
    </div>
  </div>

