<% content_for :carousel do %>
		<!--Start Carousel-->
			<!-- ScriptLocation: /tmpl/scripts/carousel.php -->
				<div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <% carousel_images = Carousel.all.each do |carousel|
              image = image_tag(carousel.banner_image.url(:large), :alt => carousel.title)
              header = content_tag :h4, carousel.title %>

              <% if Carousel.first == carousel %>
                <div class="item active">
              <% else %>
                <div class="item">
              <% end %>
              <%= "#{image}".html_safe %>
              <%= content_tag :div, "#{header}\
              <p>#{carousel.description}</p>".html_safe, :class => "carousel-caption" %>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><%= image_tag("arrow.png", :alt => "Arrow") %></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><%= image_tag("arrow2.png", :alt => "Arrow") %></a>
        </div>
        <!--End Carousel-->
<% end %>

<% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  <div class="row-fluid home">
    <div class="span4 thumbnail">
      <h2>Recent Results</h2>
      <% list = "" %>
      <% # Only find the results, not all %>
      <% matches = WattballMatch.most_recent(5).where(:events => {:status => 'played'})
        if not matches.empty?
          matches.each do |match|

            scores = match.result
            if scores
              list += "\n\t\t" + content_tag(:div, 
                (content_tag(:div, "#{match.team1.teamName}", :class => 'span5')+"\n\t\t"+
                content_tag(:div, "#{scores[0]} -  #{scores[1]}", :class => 'span2')+
                content_tag(:div, "#{match.team2.teamName}", :class => 'span5 right' )
                ), :class => "row-fluid"
              )
            end
          end 
        else
          list = "No matches have been played, yet."
        end %>
      <%= list.html_safe %>
      <div class="bottom">
        <hr />
        <p><%= link_to("View all Results", wattball_matches_path) %></p>
      </div>
    </div>
    <div class="span4 thumbnail">
      <h2>News Feed</h2>
      <ul>
      <% Blog.order(:created_at).limit(3).each do |blog|
        @blog = blog %>
        <%= content_tag :li, render(:template => 'blogs/show') %>
      <% end %>
    </ul>
    <div class="bottom">
        <hr />
        <p><%= link_to "More", blogs_path %></p>
    </div>
    </div>
    <div class="span4 thumbnail">
      <h2>Upcoming Events</h2>
      <div class="home-events">
          <% # Change the period, to 2.weeks with a limit? %>
          <% Event.upcoming.limit(6).each do |event| %>
            <% info = event_info(event) 
            if info %>
        <div class="info"><%= info.html_safe %></div>
              <% end %>
          <% end %>

        <div class="bottom">
          <hr />
          <p><%= link_to("View all Events", events_path) %></p>
        </div>
      </div>
    </div>
  </div>

