<h2>Home</h2>

<%= link_to('Login', new_user_session_path) %>

<h3><%= link_to("Teams", teams_path) %></h3>

<p><%= link_to("Athletes", athletes_path) %></p>

<p><%= link_to("Officials", officials_path) %></p>

<p><%= link_to("Tournaments", tournaments_path) %></p>

<p><%= link_to("Wattball Matches", wattball_matches_path) %></p>

<p><%= link_to("Hurdle Races", hurdle_matches_path) %></p>

