<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>

<p>
  <b>Official:</b>
  <%= "Mr. " + @event.official.user.last_name %>
</p>

<p>
  <b>Tournament:</b>
  <%= @event.tournament.name %>
</p>
<br/>
<p class="pagination-centered"><button class="btn btn-info btn-large" onclick="window.location = '<%= url_for(:controller => 'tickets', :action => 'buy', :id => @event.tournament.id) %>'">Buy a Ticket for this event</button></p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
