<p>
  <b>Start:</b>
  <%= get_time_of_event @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date.strftime "%d/%m/%y" %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>

<p>
  <b>Official:</b>
  <%= link_to join_user_name(@event.official.user), @event.official %>
</p>

<p>
  <b>Tournament:</b>
  <%= @event.tournament.name %>
</p>
