<h1>Results fo Hurdle Matches</h1>
<div class="well">
  <table class="table table-hover table-striped table-bordered table-clickable table-center">
    <thead>
      <tr class="info">
        <th>Name</th>
        <th>Venue</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
  <% @hurdle_matches.each do |match| %>
      <tr onclick="document.location = '<%= hurdle_matches_path %>/<%= match.id %>';">
        <td><%= match.name %></td>
	<td><%= match.event.venue.name %></td>
        <td><%= get_date_for_event(match.event.start) %></td>
      </tr>
  <% end %>    
    </body>
  </table>
</div>
<%= link_to 'Back', events_path %>
