<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :tournament %><br />
    <%= f.collection_select(:tournament_id, Tournament.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.hidden_field :dsc, :value => :pending %>
  </div>
  <div class="field">
    <%= f.label :adults_number %><br />
    <%= f.number_field :adults_number, :value => 1 %>
  </div>
  <div class="field">
    <%= f.label :concess_number %><br />
    <%= f.number_field :concess_number, :value => 0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
