<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :start %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :status, :value => :pending %>
    <%= f.hidden_field :competition_id %>
  </div>
  <div class="field">
    <%= label :num, :adults_number %><br />
    <%= f.number_field :adults, :value => 1 %> 
    - Cost per ticket: <%= content_tag :span, number_to_currency(@ticket.competition.adult_price), :id => "adult_price" %>
  </div>
  <div class="field">
    <%= label :num, :concess_number %><br />
    <%= f.number_field :concessions, :value => 0 %>
    - Cost per ticket: <%= content_tag :span, number_to_currency(@ticket.competition.concession_price), :id => "concession_price" %>
  </div>
  <div class="field total">
    Total: <span id="total_price"></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
