<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Start</th>
    <th>User</th>
    <th>Status</th>
    <th>Denomination</th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.start %></td>
    <td><%= ticket.user.name %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.denomination %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
