<p>
  <b>UID:</b>
  <%= @ticket.barcode %>
</p>

<p>
  <b>Start:</b>
  <%= @ticket.start %>
</p>

<p>
  <b>User:</b>
  <%= @ticket.user.name %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<p>
  <b>Adults:</b>
  <%= @ticket.adults %>
</p>

<p>
  <b>Concessions:</b>
  <%= @ticket.concessions %>
</p>

<p>
  <b>Total Cost:</b>
  <%= number_to_currency @ticket.total_price %>
</p>

<div class="actions">
<p>
  <%= link_to 'Print', '#', :onclick => "window.print();", :class => "btn-large btn-info" %>
  <br />
</p>

<p>
  <%= link_to 'Ticket History', tickets_path %>
</p>
</div>
