<%= form_for(@hurdle_time) do |f| %>
  <% if @hurdle_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hurdle_time.errors.count, "error") %> prohibited this hurdle_time from being saved:</h2>

      <ul>
      <% @hurdle_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hurdle_player_id %><br />

    <% if @hurdle_time.hurdle_match_id
        players = HurdleMatch.find(@hurdle_time.hurdle_match_id).players
      else
        players = HurdlePlayer.all
      end %>
    <% player_array = players.map { |player| [ player.user.name, player.id ] } %>
    <%= f.select :hurdle_player_id, player_array %>
  </div>

  <div class="field">
    <%= f.label :hurdle_match %>
    <%= f.collection_select :hurdle_match, HurdleMatch.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time, :include_hours => false, :include_seconds => true %>
  </div>
  <div class="field">
    <%= f.label :lane %><br />
    <%= f.number_field :lane, :value => 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
