<h1>Listing wattball_matches</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Team1</th>
    <th>Team2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wattball_matches.each do |wattball_match| %>
  <tr>
    <td><%= wattball_match.event.tournament.name %></td>
    <td><%= wattball_match.team1.teamName %></td>
    <td><%= wattball_match.team2.teamName %></td>
    <td><%= link_to 'Show', wattball_match %></td>
    <td><%= link_to 'Destroy', wattball_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
