<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span12">
      <% team1 = @wattball_match.team1 %>
      <% team2 = @wattball_match.team2 %>
    <div class="well">
      <table class="table table-non-bordered table-center">
        <tr>
	  <td>
            <h2><%= link_to team1.teamName, team_path(team1), 'class' => 'a' %></h2>
            <br/>
            <%= image_tag team1.badge.url(:thumb) %>
          </td>
          <td><h2><%=  if @wattball_match.result
                   @wattball_match.result.join(" - ")
                 else
                   " - "
                 end
        %></h2></td>
          <td>
            <h2><%= link_to team2.teamName, team_path(team2), 'class' => 'a' %></h2>
            <br/>
            <%= image_tag team2.badge.url(:thumb) %>
          </td>
        </tr>
      </table>
      <% if current_user and current_user.official %>
      <h3>Score Controls</h3>
  <%= link_to "Add Scores", new_wattball_match_score_path(@wattball_match.id), :class => :btn %>
  <%= link_to "Show Scores", wattball_match_scores_path(@wattball_match.id), :class => :btn %>

  <% # Set the message for the Edit Button
    if @wattball_match.event.official == current_user.official
      official_opt_status = "Opt Out"
    elsif @wattball_match.event.official.nil?
      official_opt_status = "Opt In"
    else
      official_opt_status = nil
    end %>

    <% if official_opt_status %>
      <%= link_to official_opt_status, edit_wattball_match_path(@wattball_match), :class => :btn %>
    <% end %>
    <br />
    <% end %>
      <% # Render parent class %>
      <% @event = @wattball_match.event %>
      <%= render :template => 'events/show' %>
      | <%= link_to 'Back', wattball_matches_path %>

    </div>
  </div>
</div>

<%= link_to 'Wattball', wattball_matches_path %> |
<%= link_to 'Calendar', events_path %>

