<p id="notice"><%= notice %></p>

<p>
  <b>Tournament:</b>
  <%= link_to @wattball_match.event.tournament.name, tournament_path(@wattball_match.event.tournament)%>
</p>

<p>
  <b>Team1:</b>
  <% team1 = @wattball_match.team1 %>
  <div class="team-badge">
    <%= image_tag team1.badge.url(:thumb) if team1.badge? %>
    <%= link_to team1.teamName, team_path(team1) %>
  </div>
</p>

<p>
  <b>Team2:</b>
  <% team2 = @wattball_match.team2 unless @wattball_match.team2.nil?%>
  <div class="team-badge">
    <%= image_tag team2.badge.url(:thumb) if team2.badge?%>
    <%= link_to team2.teamName, team_path(team2) %>
  </div>
</p>

<% # Render parent class 
%>
<% @event = @wattball_match.event %>
<%= render :template => 'events/show' %>

<%= link_to 'Back', wattball_matches_path %>
