<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span12">
    <h1>
      <% team1 = @wattball_match.team1 %>
      <% team2 = @wattball_match.team2 %>
      <%= link_to team1.teamName, team_path(team1) %> vs <%= link_to team2.teamName, team_path(team2) %>
    </h1>
    <p>
      <b>Tournament:</b>
      <%= link_to @wattball_match.event.tournament.name, tournament_path(@wattball_match.event.tournament)%>
    </p>
    </hr>
    <div class="well">
      <% if current_user and current_user.official %>
      <h3>Score Controls</h3>
  <%= link_to "Add Scores", new_wattball_match_score_path(@wattball_match.id), :class => :btn %>
  <%= link_to "Show Scores", wattball_match_scores_path(@wattball_match.id), :class => :btn %>

  <% # Set the message for the Edit Button
    if @wattball_match.event.official == current_user.official
      official_opt_status = "Opt Out"
    elsif @wattball_match.event.official.nil?
      official_opt_status = "Opt In"
    else
      official_opt_status = nil
    end %>

    <% if official_opt_status %>
      <%= link_to official_opt_status, edit_wattball_match_path(@wattball_match), :class => :btn %>
    <% end %>
    <br />
    <% end %>
      <% # Render parent class %>
      <% @event = @wattball_match.event %>
      <%= render :template => 'events/show' %>
      | <%= link_to 'Back', wattball_matches_path %>

    </div>
  </div>
</div>
