<!DOCTYPE html>
<html>
<head>
  <title>Wattball</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-narrow">
<div class="navbar nav-pills">
  <div class="navbar-inner main-menu">
    <a class="brand" href="/">Wattball</a>
    <ul class="nav pull-right">
      <li><%= link_to('Login', new_user_session_path) %></li>
    </ul>
    <ul class="nav">
  	<li<% if params[:controller] == "home" %>
	   class="active"
	   <% end %>
		><a href="/">Home</a></li>
      <li<% if params[:controller] == "events" %>
           class="active"
           <% end %>
                ><%= link_to("Events", events_path) %></li>
      <li<% if params[:controller] == "teams" %>
           class="active"
           <% end %>
                ><%= link_to("Teams", teams_path) %></li>
      <li<% if params[:controller] == "athletes" %>
           class="active"
           <% end %>
                ><%= link_to("Athletes", athletes_path) %></li>
      <li><a href="/">Gallery</a></li>
      <% # This should be more dynamic
    %>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</div>

<hr>

<!-- FOOTER -->
  <footer>
  	<% @controller_name %>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Copyright 2012 © RailsDrive. All rights reserved.</p>
  </footer>
</div>      
</body>
</html>
