<% # Identity Information for Users %>

<h3>User Details</h3>
<div><%= f.label :first_name %><br />
<%= f.text_field :first_name %></div>

<div><%= f.label :last_name %><br />
<%= f.text_field :last_name %></div>

<div><%= f.label :email %><br />
<%= f.email_field :email %></div>

<% # Password fields for forms # %>
<div><%= f.label :password %><br />
<%= f.password_field :password %></div>

<div><%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %></div>
